<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuuura87.callrecorder">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Receivers.CallReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receivers.CallReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receivers.SmsReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receivers.OnFileCreatedForExportReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".Receivers.NotificationReceiver"
            android:enabled="true" />

        <service
            android:name=".Services.CallListenerService"
            android:exported="false" />
        <service
            android:name=".Services.RecordFlowIntentService"
            android:exported="false" />
        <service
            android:name=".Services.DatabaseService"
            android:exported="false" />
        <service
            android:name=".Services.CommaSeparatedValuesService"
            android:exported="false" />
        <service
            android:name=".Services.NotificationService"
            android:exported="false" />

        <activity
            android:name=".NotificationActivity"
            android:noHistory="true" />
    </application>

</manifest>